@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Anton", sans-serif;
}

body {
  background-color: #141414;
  color: #ffffff;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.movie-scroll {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  overflow-y: hidden;
}

.image-container:hover .overlay {
  opacity: 1;
}
.image-container:hover .overlayTop {
  opacity: 1;
}
.image-container:hover .overlayCard {
  opacity: 1;
}

img {
  border-radius: 5px;
}
